/* #0A1929 */
.backg{
      flex-direction: column;
      display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  #messages{
      border: 2px solid #dd3737 ;
      border-radius: 5px;
      padding: 3vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 65vh;
      width: 50vw;
      overflow-y: scroll;
      box-shadow: 0 0 40px 20px #d52e2e4e;

    }
  .tbx{ 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }
    .txt{
        margin: 4px;
        padding-right: 7px;
        padding-left: 8px;
        padding-bottom: 7px;
        background-color: #d52e2e;
        border-radius: 5px;
        font-size:large;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .sentImage{
      max-height: 20vw;
      border-radius: 5px;
    }
    .uname{ 
      /* background: #0A1929; */
      padding: 3px;
      margin-top: 3px;
      padding-left: 7px;
      padding-right: 7px;
      padding-top: 2px;
      font-size: 12px;
      /* border-radius: 4px;
      width: -webkit-fill-available;
      text-align: right; */
    }
 
    .sent{
        align-self: flex-end;
    }
    .recvd{
        align-self: flex-start;
    }


.s4::-webkit-scrollbar
{
	width: 8px;
	background-color: #f5f5f500;
}

.s4::-webkit-scrollbar-thumb
{
	background-color: #ff0000e2;
    border-radius: 5px;
}




  input{
    color: rgb(243,246,249)  !important;
  }  
  .css-1o7gkuu-MuiFormLabel-root-MuiInputLabel-root {
    color: rgb(243,246,249) !important ;
  }
  .css-1p618nz-MuiInputBase-root-MuiFilledInput-root:before {
    border-bottom: 1px solid rgb(243,246,249) !important;
  }
  
  .btn{
    margin:4vh !important ;
  }
  
  .css-1sszw6i-MuiButtonBase-root-MuiButton-root.Mui-disabled { 
    color: rgb(243 246 249 / 48%) !important;
    background-color: rgb(224 26 26 / 39%) !important;
  }
  
  #FAB{
    background-color: #d52e2e !important;
    color: fff;
  }

  #FAB:disabled{
    color: rgb(243 246 249 / 48%)!important;
    background-color: rgb(224 26 26 / 39%)!important;
  }

  .fileIp{
    /* height: 1px; */
    /* width: 1px; */
    display: none;
  }



  /* animation */
  .shadow-drop-2-center {
      -webkit-animation: shadow-drop-2-center 1.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: shadow-drop-2-center 1.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 #d52e2e;
              box-shadow: 0 0 0 0 #d52e2e;
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 40px 20px #d52e2e4e;
              box-shadow: 0 0 40px 20px #d52e2e4e;
    }
  }
  @keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 #d52e2e;
              box-shadow: 0 0 0 0 #d52e2e;
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 40px 20px #d52e2e4e;
              box-shadow: 0 0 40px 20px #d52e2e4e;
    }
  }
  